.page_body {
    width: 795px;
    display: flex;
}

.page_avatar {
    width: 200px;
    height: 348px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 0px 1px rgb(0 0 0 / 22%);
    margin: 8px 16px;
}

.page_block {
    width: 550px;
    display: flex;
    flex-direction: column;
}

.page_info {
    width: 100%;
    height: 280px;
    margin: 8px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 0px 1px rgb(0 0 0 / 22%);
}

.post {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post_add {
    width: 100%;
    height: 52px;
    margin: 8px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 0px 1px rgb(0 0 0 / 22%);
}

.post_feed {
    width: 100%;
    height: 617px;
    margin: 8px 0;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 1px 0px rgb(0 0 0 / 25%), 0px 0px 1px rgb(0 0 0 / 22%);
}

.page_name {
    font-size: 19px;
    line-height: 25px;
    font-weight: 400;
}