body {
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #F8F8FF;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px 50px 10px 50px;
    background-color: #6495ED;
}
div {
    display: block;
}

.page_layout {
    display: flex;
    justify-content: center;
}

.content {
    display: flex;
    width: 100%;
    max-width: 960px;
}

.header-container {
    width: 100%;
    max-width: 960px;
}

.header-container__nav {
    display: flex;
    justify-content: space-between;
}

.header-logo__text {
    margin: 0;
    color: #f8f9fa;
}

.header-exit__link {
    font-size: 15px;
    color: #6495ED;
    background-color: #f8f9fa;
    margin-top: 4px;
    padding: 6px 12px 6px 12px;
    border: 1px;
    width: 100px;
    height: 40px;
    border-radius: 6px;
}

.logout_button {
    text-decoration: none;
    color: #6495ED;
}
