.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #F8F8FF;
    height: 100%;
}

.sidebar-nav {
    list-style: none;
    padding: 0;
}

.nav__item {
    padding-top: 10px;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 6px 8px 6px 0px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
}

.sidebar-icon {
    padding-right: 10px;
}

.nav__link:hover {
    color: #6495ED;
    transition: 200ms ease;
}
